---
layout: default
title: Inicio
---

{% include intro.html %}

<div class="main">

  {% include brands.html %}
  
  <div class="search">
    <input type="text" id="search_input" placeholder="Busca todo tipo de cargadores...">
    <span id="go" onclick="ir_amazon()">Buscar</span>
  </div>
    
  <div class="grid products">

    <img src="/assets/images/loading.gif"
         alt="Loading..."
         style="width:15px;margin:0 auto"
    >
  </div>

  <div class="grid btn_load">
    <button id="load_more">Cargar más artículos</button>
    <input type="text" id="search_in_reload" placeholder="Escribe lo que quieres y pulsa 'enter'...">
  </div>
  
</div>