<div class="grid brands">
    <div>
      <a href="https://www.amazon.es/s?k=cargador+inal%C3%A1mbrico&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES</small>
        <span>Wireless</span>
      </a>
    </div>
    <div>
      <a href="https://www.amazon.es/s?k=cargadores+andorid&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES PARA</small>
        <span>Android</span>
      </a>
    </div>
    <div>
      <a href="https://www.amazon.es/s?k=cargadores+iphone&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES PARA</small>
        <span>iPhone</span>
      </a>
    </div>
    <div>
      <a href="https://www.amazon.es/s?k=cargadores+windows&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES PARA</small>
        <span>Windows</span>
      </a>
    </div>
    <div>
      <a href="https://www.amazon.es/s?k=cargadores+macbook&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES PARA</small>
        <span>Macbook</span>
      </a>
    </div>
    <div>
      <a href="https://www.amazon.es/s?k=cargadores+surface&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES PARA</small>
        <span>Surface</span>
      </a>
    </div>
    <div>
      <a href="https://www.amazon.es/s?k=cargadores+imac&tag=cargadores0a-21" target="_blank">
        <small>CARGADORES PARA</small>
        <span>iMac</span>
      </a>
    </div>
    
    <div style="line-height: 60px">
      <a href="https://www.amazon.es/s?k=cargadores&tag=cargadores0a-21" target="_blank">
        <button>Ver todos...</button>
      </a>
    </div>
    
  </div>  <!-- and BRANDS GRID -->