<footer class="site-footer">
  <div class="container">
  	<small class="block">
  		&copy; {{ site.time | date: '%Y' }} <a href="{{ site.author.web }}">{{ site.author.name }}</a> · Al usar esta web estás aceptando las cookies.
  		<br>
  		{{ site.description }}
  		<br><br>
  		<a target="_blank" href="https://www.amazon.es/s?k=cargadores&tag=cargadores0a-21">Compra todo tipo de cargadores.</a> Estamos adscritos al programa de afiliados de Amazon por lo que, todos nuestros productos llevan el <b>sello de calidad</b> de una gran empresa que ofrece los <b>mejores precios</b> en todos sus productos.
  		<br>
  	</small>
  </div>
</footer>