<!-- Jequry & Family -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.plugins.min.js"></script>
<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-firestore.js"></script>

<script>
	
  var firebaseConfig = {
		apiKey: "AIzaSyBPgyUm6JCba0MIJw-C-b2uG9OZ83VEHwM",
		authDomain: "cargadores-firebase.firebaseapp.com",
		databaseURL: "https://cargadores-firebase.firebaseio.com",
		projectId: "cargadores-firebase",
		storageBucket: "cargadores-firebase.appspot.com",
		messagingSenderId: "18408348384",
		appId: "1:18408348384:web:cba428908763de2c"
  };
  firebase.initializeApp(firebaseConfig);

  var grid = $('.products');
  var db = firebase.firestore();

  db.collection("productos").get().then((querySnapshot) => {
	$(grid).html('');
	  querySnapshot.forEach((doc) => {
			$(grid).append(`
				<div>
					<a target="_blank" href="${doc.data().producto_url}">
					  <img class="lazy" alt="${doc.data().titulo}" data-src="${doc.data().img_url}">
					  <p class="price">${doc.data().precio}<sup>EUR</sup></p>
					  <p class="title">
						<span class="brand" style="text-transform:uppercase">${doc.data().marca}</span>
								${doc.data().titulo}
					  </p>
					  <button>${calc_text(doc.data().precio)}</button>
					</a>
				</div>
			`);
	  });
	  $('.lazy').Lazy({
	  	effect: "fadeIn",
      effectTime: 500,
      threshold: 0
	  });
	});

function ir_amazon() {
	
	let string = $('#search_input').val();

	console.log(string);

	if ($('#search_input').val() != '') {
		var win = window.open(`https://www.amazon.es/s?k=${string}&tag=cargadores0a-21`, '_blank');
		if (win) {
			win.focus();
		} else {
			alert('Tu navegador no nos permite buscar tu cargador perfecto, usa otro.');
		}
	}
	$('#search_input').val('');
}

  function ir_amazon_bottom() {
	
		let string = $('#search_in_reload').val();

		if ($('#search_in_reload').val() != '') {
			var win = window.open(`https://www.amazon.es/s?k=${string}&tag=cargadores0a-21`, '_blank');
			if (win) {
				win.focus();
			} else {
				alert('Tu navegador no nos permite buscar tu cargador perfecto, usa otro.');
			}
		}
		$('#search_in_reload').val('');
  }

  $('#search_input').keypress(function (e) {
		if(e.which == 13 && $('#search_input').val() != '') {
			ir_amazon();
		}
	});

	$('#search_in_reload').keypress(function (e) {
		if(e.which == 13 && $('#search_in_reload').val() != '') {
			ir_amazon_bottom();
		}
	});

  function calc_text(precio) {
		if (precio >= 10) {
			return "Ver producto";
		} else if (precio >= 3) {
			return "Ver oferta";
		} else {
			return "Ver super ofera";
		}
  }

  $('#search_input').focus();

</script>