
<!-- <nav class="nav">
  <div class="container">
    <h1 class="logo"><a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">{{ site.title_left }}<span>{{ site.title_right }}</span></a></h1>
    <ul class="navbar">
      <li><a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About me</a></li>
      <li><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" target="_blank">RSS</a></li>
    </ul>
  </div>
</nav>
 -->

 <div class="menu">
  <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}" style="color:#fff;text-decoration:none">
  	<span class="logo">
      <span style="text-transform:lowercase">{{ site.title }}</span>
    	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg>
  	</span>
  </a>
  <!-- <div class="right">
    <span id="menu_btn">MENÚ.</span>
  </div> -->
</div>