
$rosa: #FF206E;
$amar: #FBFF12;
$negr: #000000;
$gri1: #232323;
$gri2: #424242;
$gri3: #727272;
$blan: rgba(255, 255, 255, .9);
$bla1: #f2f2f2;
$bla2: #eeeeee;
$bla3: #dbdbdb;

@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700');

// @font-face {
//   font-family: 'SegoeMDL2';
//   src:
//     url(https://gligan.info/assets/segoe-mdl2.woff2) format(woff2),
//     url(https://gligan.info/assets/segoe-mdl2.woff) format(woff);
//   font-weight: normal;
//   font-style: normal;
// }

// .mdl2 { font-family: 'SegoeMDL2' !important; }

* {
  box-sizing: border-box;
  outline: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

body { animation: .3s fadeIn; }